.lead {
  max-width: 984px;
  padding-left: 24px;
  margin: auto;
}

@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .lead {
    padding-left: 0;
  }
}

