.place__link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-decoration: underline;
  opacity: 1;
  transition: opacity .5s;

}

.place__link:hover {
  opacity: 0.8;
}
