.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat (2, 1fr);
  grid-template-areas:
  "title website"
  "image paragraphs";
  row-gap: 48px;
  column-gap: 40px;
}

@media (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media (max-width: 850px) {
  .place {
    max-width: 720px;
    grid-template-columns: minmax(100px,340px) 1fr;
    column-gap: 28px;
  }
}

@media (max-width: 750px) {
  .place {
    max-width: 750px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraphs";
    gap: 32px;
  }
}
