.page__footer {
  margin: 0 auto;
  padding: 0 48px 24px;
}

@media (max-width: 768px) {
  .page__footer {
    padding: 0 24px 24px;
  }
}

@media (max-width: 740px) {
  .page__footer {
    padding: 0 16px 24px;
  }
}

